
.form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 4rem;
    font-family: var(--main-font-family);
    font-size: 2rem;
}
